extends ../../layouts/default

block head
    title Data Vault 2.0
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //script(src='https://www.gstatic.com/charts/loader.js')
    script(src='../../views/jquery-2.2.3.min.js')

block body


