extends ../../layouts/default
block head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Admin Dashboard
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/vendor/font-awesome/css/font-awesome.css', rel='stylesheet')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.9/js/all.js', integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl', crossorigin='anonymous')
    link(href='/stylesheets/custom-admin.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='/views/admin/pick-a-color-1.2.3.min.css', rel='stylesheet')
    style(type='text/css').
        .pick-a-color-markup {
            margin: 20px 0px;
        }

        .container {
            margin: 0px 5px;
            width: 50%;
        }

    //Suplier Scripts
    script(src="http://underscorejs.org/underscore-min.js")

    //Custom Scripts Left Navigation Functions
    script(src="/views/admin/searchRules.js")
    script(src="/views/admin/cattegoryRules.js")
    script(src="/views/admin/DictionaryRules.js")
    script(src="/views/admin/SentimentRules.js")
    script(src="/views/admin/EmployeeRules.js")
    script(src="/views/admin/ContentRules.js")
    script(src="/views/admin/BloggerRules.js")
    script(src="/views/admin/cvRules.js")

    //Custom Scripts CV Composer scripts
    script(src="/views/admin/cv/cvPersonaliaRules.js")
    script(src="/views/admin/cv/cvProfielRules.js")
    script(src="/views/admin/cv/cvProfielBrancheRules.js")
    script(src="/views/admin/cv/cvProfielRoleRules.js")
    script(src="/views/admin/cv/cvWerkervaringRules.js")
    script(src="/views/admin/cv/cvOpleidingRules.js")
    script(src="/views/admin/cv/cvVaardighedenRules.js")
    script(src="/views/admin/cv/cvVaardighedenCategorie.js")

block body
    .container-fluid
        .row
            br
            br
            #wrapper
                nav.navbar-default.navbar-side(role='navigation')
                    .sidebar-collapse
                        ul#main-menu.nav
                            li
                                a.active-menu(id='home')
                                    i.fas.fa-tachometer-alt.fa-3x
                                    |  Dashboard
                            li
                                a(id="search")
                                    i.fa.fa-search.fa-3x
                                    |  Zoek Criteria
                            li
                                a(id='category')
                                    i.fa.fa-list.fa-3x
                                    |  Categorien
                            li
                                a(id='dictionary')
                                    i.fas.fa-file-word.fa-4x
                                    |  Woordenboek
                            li
                                a(id='sentiment')
                                    i.fa.fa-edit.fa-3x
                                    |  Sentiment score
                            li
                                a(id='employee')
                                    i.fa.fa-address-card.fa-3x
                                    |  Toevoegen medewerker
                            li
                                a(id='content')
                                    i.fa.fa-laptop.fa-3x
                                    |  Content Administration
                            li
                                a(id='blogs')
                                    i.fab.fa-blogger.fa-3x
                                    |  Artikelen publiceren
                            li
                                a(id='cvBuilder')
                                    img(src="/images/cv2.png" )
                                    | Beheren CV

                        br
                #page-wrapper
                    .row
                        .col-md-12
                            h2(id="title") Admin Dashboard
                            h5(id="subtitle") Hier kunt uw persoonlijke dashboard configureren.
                    // /. ROW
                    hr
                    .row(id='contentElement')
                        .col-md-3.col-sm-6.col-xs-6
                            .panel.panel-back.noti-box
                                span.icon-box.bg-color-red.set-icon
                                    i.far.fa-envelope
                                .text-box
                                    #tweets.p.main-text
                                    p.text-muted Berichten
                        .col-md-3.col-sm-6.col-xs-6
                            .panel.panel-back.noti-box
                                span.icon-box.bg-color-green.set-icon
                                    i.fa.fa-bars
                                .text-box
                                    #tickets.p.main-text
                                    p.text-muted Open tickets
                        .col-md-3.col-sm-6.col-xs-6
                            .panel.panel-back.noti-box
                                span.icon-box.bg-color-blue.set-icon
                                    i.fas.fa-file-word
                                .text-box
                                    #words.p.main-text
                                    p.text-muted Woorden
                        .col-md-3.col-sm-6.col-xs-6
                            .panel.panel-back.noti-box
                                span.icon-box.bg-color-brown.set-icon
                                    i.fas.fa-user
                                .text-box
                                    #employees.p.main-text
                                    p.text-muted Medewerkers
                        .col-md-3.col-sm-6.col-xs-6
                            //input.pick-a-color.form-control(type='text', value='222', name='border-color')

        script.
            $.ajax({
                url: '/admin/start',
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    console.info(response)

                    $('#tweets').html(response.counts.totalFeeds)
                    $('#tickets').html(response.counts.totTickets)
                    $('#words').html(response.counts.totalWordsinCorpus)
                    $('#employees').html(response.counts.totEmployees)

                    $('#search').click(function () {
                        selectSearchMenu()
                        setSearchTitle()
                        getSearchResults(user)
                    })
                    $('#category').click(function () {
                        selectCategoryMenu()
                        setCategoryTitle()
                        getCategoryResults(user)
                    })
                    $('#dictionary').click(function () {
                        selectDictionaryMenu()
                        setDictionaryTitle()
                        getDictionaryResults(user)
                    })
                    $('#sentiment').click(function () {
                        selectSentimentMenu()
                        setSentimentTitle()
                        getSentimentResults(user)
                    })
                    $('#employee').click(function () {
                        selectEmployeeMenu()
                        setEmployeeTitle()
                        getEmployeeResults(user)
                    })
                    $('#content').click(function () {
                        selectContentMenu()
                        setContentTitle()
                        getContentResults(user)
                    })
                    $('#blogs').click(function () {
                        selectBlogMenu()
                        setBlogTitle()
                        getBlogResults(user)
                    })
                    $('#home').click(function () {
                        location.reload();
                    })
                    $('#cvBuilder').click(function () {
                        selectCVMenu()
                        setCVitle()
                        getCVS(user)
                    })
                }
            });
        // Scripts required for color palet. Scripts needed by loaded at the end of the page
        script(src = '/views/admin/tinycolor-0.9.15.min.js')
        script(src = '/views/admin/pick-a-color-1.2.3.min.js')
        script(src = '/views/admin/ckeditor/ckeditor.js')











