extends ../../layouts/default
block head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Admin Dashboard
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/vendor/font-awesome/css/font-awesome.css', rel='stylesheet')
    // CUSTOM STYLES
    link(href='/stylesheets/custom-admin.css', rel='stylesheet')
    // GOOGLE FONTS
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    // Custom scripts
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='/views/BusinessRules/jscolor-custom-look/jscolor.js')
    script(src="/views/admin/searchRules.js")
    script(src="/views/admin/cattegoryRules.js")


block body
    .container-fluid
        .row
            br
            br
            #wrapper
                nav.navbar-default.navbar-side(role='navigation')
                    .sidebar-collapse
                        ul#main-menu.nav
                            li
                                a.active-menu(id='home')
                                    i.fa.fa-dashboard.fa-3x
                                    |  Dashboard
                            li
                                a(id="search")
                                    i.fa.fa-search.fa-3x
                                    |  Zoek Criteria
                            li
                                a(id='category')
                                    i.fa.fa-list.fa-3x
                                    |  Categorien
                            li
                                a
                                    i.fa.fa-book.fa-3x
                                    |  Woordenboek
                            li
                                a
                                    i.fa.fa-edit.fa-3x
                                    |  Sentiment score
                            li
                                a
                                    i.fa.fa-address-card.fa-3x
                                    |  toevoegen medewerker
                            li
                                a
                                    i.fa.fa-laptop.fa-3x
                                    |  Content Administration
                        br
                #page-wrapper
                    .row
                        .col-md-12
                            h2(id="title") Admin Dashboard
                            h5(id="subtitle") Hier kunt uw persoonlijke dashboard configureren.
                    // /. ROW
                    hr
                    .row(id='contentElement')
                        .col-md-3.col-sm-6.col-xs-6
                            .panel.panel-back.noti-box
                                span.icon-box.bg-color-red.set-icon
                                    i.fa.fa-envelope-o
                                .text-box
                                    #tweets.p.main-text
                                    p.text-muted Berichten
                        .col-md-3.col-sm-6.col-xs-6
                            .panel.panel-back.noti-box
                                span.icon-box.bg-color-green.set-icon
                                    i.fa.fa-bars
                                .text-box
                                    #tickets.p.main-text
                                    p.text-muted Open tickets
                        .col-md-3.col-sm-6.col-xs-6
                            .panel.panel-back.noti-box
                                span.icon-box.bg-color-blue.set-icon
                                    i.fa.fa-bell-o
                                .text-box
                                    #words.p.main-text
                                    p.text-muted Woorden
                        .col-md-3.col-sm-6.col-xs-6
                            .panel.panel-back.noti-box
                                span.icon-box.bg-color-brown.set-icon
                                    i.fa.fa-rocket
                                .text-box
                                    #employees.p.main-text
                                    p.text-muted Medewerkers

        script.

            var user =

            $.ajax({
                url: '/admin/start',
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    console.info(response)

                    $('#tweets').html(response.counts.totalFeeds)
                    $('#tickets').html(response.counts.totTickets)
                    $('#words').html(response.counts.totalWordsinCorpus)
                    $('#employees').html(response.counts.totEmployees)

                    $('#search').click(function () {
                        selectSearchMenu()
                        setSearchTitle()
                        getSearchResults(user)
                    })
                    $('#category').click(function () {
                        selectCategoryMenu()
                        setCategoryTitle()
                        getCategoryResults(user)
                    })
                }
            });





