<div class="col-lg-6">
    <div class="form-group">
        <label>Categorie</label>
        <div class="input-group">
            <input type="text" class="form-control" name="Categorie" id="Categorie" placeholder="Categorie">
        </div>
    </div>
    <div class="form-group">
        <label>CattegoieWaarde</label>
        <div class="input-group">
            <input type="email" class="form-control" id="CatValue" name="CatValue" placeholder="Categorie waarde">
            <button class="btn btn-primary" type="submit" id="addCatValue">Add</button>
            <button class="btn btn-primary" type="submit" id="clearCatValue">Clear</button>
    </div>
    <div class="form-group">
        <label>Kleur</label>
        <div class="input-group">
            <input type="text" class="form-control" id="Kleur" name="Kleur"></textarea>
    </div>
    <div id="CatValueTable"></div>
    <input type="submit" name="addCattegory" id="subaddCattegorymit" value="Toevoegen" class="btn btn-info pull-right">
