extends ../../layouts/default

block head
    title Personal Dashboard
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //script(src='https://www.gstatic.com/charts/loader.js')
    script(src='../../views/jquery-2.2.3.min.js')
    script(type='text/javascript', src="https://www.google.com/jsapi?autoload= \
    {'modules':[{'name':'visualization','version':'1.1','packages':\
    ['corechart', 'bar', 'table']}]}")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://d3js.org/d3.v4.js")
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js')
    script(src="/vendor/d3/d3.layout.cloud.js")
    script(src="http://underscorejs.org/underscore-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js")
    script(src="https://canvasjs.com/assets/script/canvasjs.min.js")
    script(type='text/javascript', src='/bower_components/pptxgenjs/libs/jquery.min.js')
    script(type='text/javascript', src='/bower_components/pptxgenjs/libs/jszip.min.js')
    script(type='text/javascript', src='/bower_components/pptxgenjs/dist/pptxgen.js')
    script(type="text/javascript", src="/bower_components/pptxgenjs/dist/pptxgen.bundle.js")
    script(type="text/javascript", src="/bower_components/underscore/underscore.js")

    // Custom styles for this template
    link(href='/stylesheets/theme.css', rel='stylesheet')
    link(href='/stylesheets/style-responsive.css', rel='stylesheet')
    link(href='/stylesheets/class-helpers.css', rel='stylesheet')

    // Color schemes
    link(href='/stylesheets/colors/green.css', rel='stylesheet')
    link(href='/stylesheets/colors/turquoise.css', rel='stylesheet')
    link(href='/stylesheets/colors/blue.css', rel='stylesheet')
    link(href='/stylesheets/colors/amethyst.css', rel='stylesheet')
    link(href='/stylesheets/colors/cloud.css', rel='stylesheet')
    link(href='/stylesheets/colors/sun-flower.css', rel='stylesheet')
    link(href='/stylesheets/colors/carrot.css', rel='stylesheet')
    link(href='/stylesheets/colors/alizarin.css', rel='stylesheet')
    link(href='/stylesheets/colors/concrete.css', rel='stylesheet')
    link(href='/stylesheets/colors/wet-asphalt.css', rel='stylesheet')

    // Fonts
    link(href='/fonts/Indie-Flower/indie-flower.css', rel='stylesheet')
    link(href='/fonts/Open-Sans/open-sans.css?family=Open+Sans:300,400,700', rel='stylesheet')

    //Custom script
    script(src="/views/Dashboard/RadarChart.js")
    script(src="/views/Dashboard/setSpiderChart.js")
    script(src="/views/Dashboard/createWidgets.js")
    script(src="/views/Dashboard/ticketsGraphs.js")
    script(src="/views/Dashboard/filterTickets.js")
    script(src="/views/Dashboard/funnelRapport.js")
    script(src="/views/Dashboard/getTicketList.js")
    script(src="/views/Dashboard/ticketsLeadsTime.js")
    script(src="/views/Dashboard/trends.js")
    link(rel='stylesheet', href='../../views/Dashboard/graph.css')
    script(src="/views/Dashboard/exportToPowerPoint.js")
    script(src="/views/Dashboard/exportToExcelBackLog.js")
    //script(src="/views/Dashboard/rfcDashBoard.js")
    style.
        .glyphicon.glyphicon-one-fine-dot:before {
            content: "\25cf";
            font-size: 3.0em;
            color: red;

        }
    script.

        //var _ = require('underscore')
        var pptx = new PptxGenJS();
        $(document).ready(function () {

            $('#TrendsAmount').click(function () {
                $('#1a').hide()
                $('#2a').show()
                $('#3a').hide()
                $('#4a').hide()

                $('#blockTitle').html(user.name + ' - Trends on Service Requests and Incidents')
                 })
            $('#Dashboard').click(function () {
                $('#1a').show()
                $('#2a').hide()
                $('#3a').hide()
                $('#4a').hide()

            })
            $('#TabTicketsPerUser').click(function () {
                $('#1a').hide()
                $('#2a').hide()
                $('#3a').show()
                $('#4a').hide()
                $('#blockTitle').html(user.name + ' - Amount of tickets per User')
            })
            $('#TabBacklog').click(function () {
                $('#1a').hide()
                $('#2a').hide()
                $('#3a').hide()
                $('#4a').hide()
                $('#5a').show()
                getBackLogTable('tblBacklog')
            })
            $('#RFCDashBoard').click(function () {
                $('#1a').hide()
                $('#2a').hide()
                $('#3a').hide()
                $('#4a').show()
                $('#5a').hide()
                getBackLogTable('tblBacklog')
            })

        })
block body
    .container-fluid
        .row
            p
            br
            br
            br
        .row
            .col-md-12
                #userProfile
                    script.
                        setUserProfile(user)
        .row
            .col-md-12
                ul.nav.nav-pills
                    li.active
                        a(href='#1a', data-toggle='tab' id='Dashboard') Tickets Dashboard
                    li
                        a(href='#2a', data-toggle='tab' id='TrendsAmount') Tickets Trends on Amount
                    li
                        a(href='#3a', data-toggle='tab' id='TabTicketsPerUser') Tickets per User
                    li
                        a(href='#4a', data-toggle='tab' id='RFCDashBoard') RFC Dashboard
                    li
                        a(href='#5a', data-toggle='tab' id='TabBacklog') BackLog
                .tab-content
                    #1a.fade.in.active
                        .row
                            .col-md-3
                                #fltrListCattegory
                                br
                            .col-md-3
                                #fltrSnapshot
                        .row
                            .col-md-6
                                .widget
                                    .widget-content.bg-belize-hole
                                        .text-center
                                            #createdTickets.span.font-size-40.counter No tickets found
                                            p Created Tickets
                                            i.fa.fa-code.fa-3x
                            .col-md-6
                                .widget
                                    .widget-content.bg-pumpkin
                                        .text-center
                                            #openTickets.span.font-size-40.counter No tickets found
                                            p Open Tickets
                                            i.fa.fa-tasks.fa-3x
                        .row
                            #clickNewTickets.col-md-6
                                .widget
                                    .widget-content.bg-green-sea
                                        .text-center
                                            #stock.span.font-size-40.counter No tickets found
                                            p Tickets stock
                                            i.fa.fa-plus-circle.fa-3x
                            .col-md-6
                                .widget
                                    .widget-content.bg-peter-river
                                        .text-center
                                            #closedTickets.span.font-size-40.counter No tickets found
                                            p Closed Tickets
                                            i.fa.fa-envelope.fa-3x
                        .row
                            .col-md-6
                                .widget
                                    #ticketChart2
                            .col-md-6
                                .widget
                                    #ticketChart
                        .row
                            .col-md-6
                                .widget
                                    #test
                            .col-md-6
                                .widget
                                    #removeWord
                                    #removeButton
                            .col-md-6
                                .widget
                                    #clearTickets
                        .row
                            .col-md-12
                                .widget
                                    #INCTicketListHeader
                                    #INCTicketList
                                    #INCTicketBackLogButton
                                    #SRQTicketListHeader
                                    #SRQTicketList
                                    #SRQTicketBackLogButton
                                    #pagnation
                                    #toolbarTicketList
                                    script.
                                        $.ajax({
                                            url: '/Dashboard/getSnapshots',
                                            type: 'GET',
                                            contentType: 'application/json',
                                            success: function (data) {
                                                console.info('succes getTickets')
                                                console.info(data)

                                                getTickets(data.snapshot)
                                            }})
                                        //var auto_refresh_Tickets = setInterval(function () {
                                        //    getTickets()
                                        //}, 15000)
                    #2a.tab-pane.fade
                        .row
                            .col-md-12
                                .widget
                                    #ticketsSRL
                        .row
                            .col-md-6
                                .widget
                                    #ticketsCPF
                        .row
                            .col-md-6
                                .widget
                                    #ticketsCognos
                        .row
                            .col-md-6
                                .widget
                                    #ticketsDWH
                        .row
                            .col-md-6
                                .widget
                                    #ticketsESOFT

                    #3a.tab-pane.active.fade

                        .col-md-6
                            #ticketsPerUser.widget
                        .row
                            .col-md-6
                                #myfirstchart
                                    //script.
                                        //getTweets()
                                        //var auto_refresh_SocialFeeds = setInterval(function () {
                                        //    getTweets()
                                        //}, 15000)
                            .col-md-6
                                #wordcloud
                    //---------------    RFC Dashboard  --------------------- //
                    #4a.tab-pane.active.fade
                        .row
                            .col-md-3
                                #fltrRFCListCattegory
                                br
                            .col-md-3
                                #fltrRFCListState
                        .row
                            .col-md-6
                                .widget
                                    .widget-content.bg-belize-hole
                                        .text-center
                                            #createdRFC.span.font-size-40.counter No RFC found
                                            p Created RFC
                                            i.fa.fa-code.fa-3x
                            .col-md-6
                                .widget
                                    .widget-content.bg-pumpkin
                                        .text-center
                                            #openRFC.span.font-size-40.counter No RFC found
                                            p Open RFC
                                            i.fa.fa-tasks.fa-3x
                        .row
                            #clickNewRFC.col-md-6
                                .widget
                                    .widget-content.bg-green-sea
                                        .text-center
                                            #stockRFC.span.font-size-40.counter No RFC found
                                            p RFC stock
                                            i.fa.fa-plus-circle.fa-3x
                            .col-md-6
                                .widget
                                    .widget-content.bg-peter-river
                                        .text-center
                                            #closedRFC.span.font-size-40.counter No RFC found
                                            p RFC Tickets
                                            i.fa.fa-envelope.fa-3x
                        .row
                            .col-md-6
                                .widget
                                    #tRFCChart2
                            .col-md-6
                                .widget
                                    #RFCChart
                        .row
                            .col-md-6
                                .widget
                                    #RFCtest
                            .col-md-6
                                .widget
                                    #removeWordRFC
                                    #removeButtonRFC
                        .row
                            .col-md-12
                                .widget
                                    #RFCListHeader
                                    #RFCList
                                    #RFCBackLogButton
                                    #pagnationRFC
                                    #toolbarRFCList
                                    script.
                                        //getAllRFC()

                    #5a.tab-pane.fade
                        .row
                            .col-md-6
                                h3 Storypoints per developer
                        .row
                            .col-md-6
                                #tblDev
                        .row
                            .col-md-6
                                h3 Planboard
                        .row
                            .col-md-12
                                #tblBacklog
                                    script.
                                        getBackLogTable('tblBacklog','tblDev')
                        .row
                            .col-md-3
                                #clearBackLog
                                    button.btn.btn-primary(type='button' id="cmdClearbacklog") Clear Backlog
                                    script.
                                        $('#cmdClearbacklog').click(function () {
                                            clearBacklog()
                                        })
                            .col-md-3
                                #UserStories
                                    button.btn.btn-primary(type='button' id="cmdUserStories") User Stories
                                    script.
                                        $('#cmdUserStories').click(function () {
                                            console.info('createPPT')

                                            $.ajax({
                                                url: '/Dashboard/addBacklogPPT',
                                                type: 'GET',
                                                contentType: 'application/json',
                                                success: function (response) {
                                                    //console.info('reload!!')
                                                    exportToPowerPointBacklog(response.dataset)
                                                }
                                            });

                                        })
                        .row
                            .col-md-12
