extends ../../layouts/default

block head
    title Personal Dashboard
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    script(src='../../views/jquery-2.2.3.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://d3js.org/d3.v4.min.js")
    link(rel='stylesheet', href='../../views/Dashboard/graph.css')

block body
    .container-fluid
        .row
            .col-md-3
                .widget
                    .widget-content.bg-white
                        .row
                            .col-xs-6
                                h3.counter.font-bold.font-size-38 231
                            .col-xs-6
                                p.font-size-38
                                    span.glyphicon.glyphicon-user
                        p Users Registered
                        .progress.progress-xs
                            .progress-bar.bg-green(role='progressbar', data-transitiongoal='74', aria-valuenow='74', style='width: 74%;')
                        a.padding-8.hvr-bounce-to-right.bg-green(href='#', style='width:100%;')
                            | Read full report
                            i.fa.fa-arrow-circle-right
            .col-md-3
            .col-md-3
            .col-md-3
            .col-md-3

