extends ../../layouts/default

block head
    title Personal Dashboard
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='../../views/jquery-2.2.3.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://d3js.org/d3.v4.js")
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js')
    script(src="/vendor/d3/d3.layout.cloud.js")
    script(src="http://underscorejs.org/underscore-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js")
    script(src='https://www.gstatic.com/charts/loader.js')
    script(src="https://canvasjs.com/assets/script/canvasjs.min.js")

    // Custom styles for this template
    link(href='/stylesheets/theme.css', rel='stylesheet')
    link(href='/stylesheets/style-responsive.css', rel='stylesheet')
    link(href='/stylesheets/class-helpers.css', rel='stylesheet')

    // Color schemes
    link(href='/stylesheets/colors/green.css', rel='stylesheet')
    link(href='/stylesheets/colors/turquoise.css', rel='stylesheet')
    link(href='/stylesheets/colors/blue.css', rel='stylesheet')
    link(href='/stylesheets/colors/amethyst.css', rel='stylesheet')
    link(href='/stylesheets/colors/cloud.css', rel='stylesheet')
    link(href='/stylesheets/colors/sun-flower.css', rel='stylesheet')
    link(href='/stylesheets/colors/carrot.css', rel='stylesheet')
    link(href='/stylesheets/colors/alizarin.css', rel='stylesheet')
    link(href='/stylesheets/colors/concrete.css', rel='stylesheet')
    link(href='/stylesheets/colors/wet-asphalt.css', rel='stylesheet')

    // Fonts
    link(href='/fonts/Indie-Flower/indie-flower.css', rel='stylesheet')
    link(href='/fonts/Open-Sans/open-sans.css?family=Open+Sans:300,400,700', rel='stylesheet')

    //Custom script
    script(src="/views/Dashboard/RadarChart.js")
    script(src="/views/Dashboard/setSpiderChart.js")
    script(src="/views/Dashboard/createWidgets.js")
    script(src="/views/Dashboard/ticketsGraphs.js")
    script(src="/views/Dashboard/filterTickets.js")
    script(src="/views/Dashboard/funnelRapport.js")
    script(src="/views/Dashboard/getTicketList.js")
    script(src="/views/Dashboard/ticketsLeadsTime.js")
    script(src="/views/Dashboard/trends.js")
    link(rel='stylesheet', href='../../views/Dashboard/graph.css')
    script.
        google.charts.load('current', {packages: ['corechart', 'bar', 'table']});

        google.charts.setOnLoadCallback(d3GraphPlot);
        google.charts.setOnLoadCallback(ticketsPerUser);
        google.charts.setOnLoadCallback(ticketsCreatedPerWeek);
        google.charts.setOnLoadCallback(ticketsSolvedPerWeek);
        google.charts.setOnLoadCallback(ticketsCreatedSRL);
        google.charts.setOnLoadCallback(ticketsSolvedSRL);
        google.charts.setOnLoadCallback(ticketsCreatedCPF);
        google.charts.setOnLoadCallback(ticketsSolvedCPF);
        google.charts.setOnLoadCallback(ticketsCreatedCognos);
        google.charts.setOnLoadCallback(ticketsSolvedCognos);

        google.charts.setOnLoadCallback(createfunnelRepport);


        $(document).ready(function () {
            $('#TrendsAmount').click(function () {
                $('#1a').hide()
                $('#2a').show()
                $('#3a').hide()


            })
            $('#Dashboard').click(function () {
                $('#1a').show()
                $('#2a').hide()
                $('#3a').hide()

            })
            $('#TabTicketsPerUser').click(function () {
                $('#1a').hide()
                $('#2a').hide()
                $('#3a').show()
            })
        })
block body
    .container-fluid
        .row
            p
            br
            br
            br
        .row
            .col-md-12
                #userProfile
                    script.
                        setUserProfile(user)
        .row
            .col-md-12
                ul.nav.nav-pills
                    li.active
                        a(href='#1a', data-toggle='tab' id='Dashboard') Tickets Dashboard
                    li
                        a(href='#2a', data-toggle='tab' id='TrendsAmount') Trends on Amount
                    li
                        a(href='#3a', data-toggle='tab' id='TabTicketsPerUser') Tickets per User
                    li
                        a(href='#4a', data-toggle='tab') Social Overview
                .tab-content
                    #1a.fade.in.active
                        .row
                            .col-md-3
                                #fltrListCattegory
                                br
                            .col-md-3
                                #fltrListState
                        .row
                            .col-md-6
                                .widget
                                    .widget-content.bg-belize-hole
                                        .text-center
                                            #createdTickets.span.font-size-40.counter No tickets found
                                            p Created Tickets
                                            i.fa.fa-code.fa-3x
                            .col-md-6
                                .widget
                                    .widget-content.bg-pumpkin
                                        .text-center
                                            #openTickets.span.font-size-40.counter No tickets found
                                            p Open Tickets
                                            i.fa.fa-tasks.fa-3x
                        .row
                            #clickNewTickets.col-md-6
                                .widget
                                    .widget-content.bg-green-sea
                                        .text-center
                                            #stock.span.font-size-40.counter No tickets found
                                            p Tickets stock
                                            i.fa.fa-plus-circle.fa-3x
                            .col-md-6
                                .widget
                                    .widget-content.bg-peter-river
                                        .text-center
                                            #closedTickets.span.font-size-40.counter No tickets found
                                            p Closed Tickets
                                            i.fa.fa-envelope.fa-3x
                        .row
                            .col-md-6
                                .widget
                                    #ticketChart2
                            .col-md-6
                                .widget
                                    #ticketChart
                        .row
                            .col-md-6
                                .widget
                                    #test
                            .col-md-6
                                .widget
                                    #removeWord
                                    #removeButton
                        .row
                            .col-md-12
                                .widget
                                    #ticketsList
                                    #pagnation
                                    script.
                                        getTickets()
                                        //var auto_refresh_Tickets = setInterval(function () {
                                        //    getTickets()
                                        //}, 15000)
                    #2a.tab-pane.fade
                        .row
                            .col-md-6
                                .widget
                                    #ticketsCreatedPerWeek
                            .col-md-6
                                .widget
                                    #ticketsSolvedPerWeek
                        .row
                            .col-md-6
                                .widget
                                    #ticketsCreatedSRL
                            .col-md-6
                                .widget
                                    #ticketsSolvedSRL
                        .row
                            .col-md-6
                                .widget
                                    #ticketsCreatedCPF
                            .col-md-6
                                .widget
                                    #ticketsSolvedCPF
                        .row
                            .col-md-6
                                .widget
                                    #ticketsCreatedCognos
                            .col-md-6
                                .widget
                                    #ticketsSolvedCognos

                    #3a.tab-pane.active.fade

                        .col-md-6
                            #ticketsPerUser.widget
                        .row
                            .col-md-6
                                #myfirstchart
                                    //script.
                                        //getTweets()
                                        //var auto_refresh_SocialFeeds = setInterval(function () {
                                        //    getTweets()
                                        //}, 15000)
                            .col-md-6
                                #wordcloud
                    #4a.tab-pane.active.fade
                        .col-md-12
                            #social.widget
                        .row
                            .col-md-6
                                #myfirstchart
                                    //script.
                                        //getTweets()
                                        //var auto_refresh_SocialFeeds = setInterval(function () {
                                        //    getTweets()
                                        //}, 15000)
                            .col-md-6
                                #wordcloud


















