extends ../layouts/default

block head
    title Wisdom as a Service
    link(href='AllStarts/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='AllStarts/css/style.css', rel='stylesheet', media='screen')


block neck
    link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800', rel='stylesheet', media='screen')


block body
    // Carousel
    // =================================================
    #carousel-myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            //link(href='AllStarts/color/default.css', rel='stylesheet', media='screen')
        .carousel-inner(role='listbox')
            .item.active
                img(src='../images/Big Data 01 WebSite.jpg')
                .carousel-caption
                    a.btn.btn-lg.btn-primary(href='/consultancy', role='button') Big Data Platform advies
            .item
                img(src='../images/BigData02WebSite.jpg')
                .carousel-caption
                    a.btn.btn-lg.btn-primary(href='/biaudit', role='button') Big Data/ Hybryde Architectuur
            .item
                img(src='../images/Big Data 03 WebSite.jpg')
                .carousel-caption
                    a.btn.btn-lg.btn-primary(href='#', role='button') IoT Apps
        a.left.carousel-control(href='#carousel-myCarousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#carousel-myCarousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
    // About
    section#about.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Over ons
                        .heading-line
                        p
                            | We realiseren al meer dan 5 jaar BI products.
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/WaaSLogo.png', alt='', width="300" height="300")
                .col-md-6.content
                    h2 Wisdom as a Service biedt wijsheid op gebied van Business Intelligence
                    h3
                        | Samen met de klant waarde uit data halen, zodat er betere besluitvormingen genomen kan worden, is wat ons drijft.
                    #Overmij.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    // Services
    section#services.home-section.bg-white
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Expertise
                        .heading-line
                        p
                            | We leveren uitstekende diensten die passen bij de verschillende BI / Analitische vraagstukken.
            .row
                .col-md-12
                    #carousel-service.service.carousel.slide
                        // slides
                        .carousel-inner
                            .item.active
                                .row
                                    .col-sm-12.col-md-offset-1.col-md-6
                                        .wow.bounceInLeft
                                            h4 BI Development
                                            #consultancy.p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            button.btn.btn-primary(type='button' id='cmdConsultancy') Lees verder
                                    .col-sm-12.col-md-5
                                        .screenshot.wow.bounceInRight
                                            img.img-responsive(src='images/Consultancy.jpg', alt='')
                            .item
                                .row
                                    .col-sm-12.col-md-offset-1.col-md-6
                                        .wow.bounceInLeft
                                            h4 DWH Audit
                                            #biaudit.p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            button.btn.btn-primary(type='button' id='cmdDWHAudit') Lees verder
                                    .col-sm-12.col-md-5
                                        .screenshot.wow.bounceInRight
                                            img.img-responsive(src='images/BI AUDIT.jpg', alt='')
                            .item
                                .row
                                    .col-sm-12.col-md-offset-1.col-md-6
                                        .wow.bounceInLeft
                                            h4 BI Archtitectuur
                                            #iotarchitectuur.p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            button.btn.btn-primary(type='button' id='cmdBIArchitectuur') Lees verder
                                    .col-sm-12.col-md-5
                                        .screenshot.wow.bounceInRight
                                            img.img-responsive(src='images/Big Data Platform 02.jpg', alt='')
                        // Indicators
                        ol.carousel-indicators
                            li.active(data-target='#carousel-service', data-slide-to='0')
                            li(data-target='#carousel-service', data-slide-to='1')
                            li(data-target='#carousel-service', data-slide-to='2')
    // Products
    section#products.home-section.bg-white
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Producten
                        .heading-line
                        p
                            | We realiseren hoogwaardige BI producten door onze ervaring en specailisme.
            .row
                .col-md-12
                    #carousel-product.service.carousel.slide
                        // slides
                        .carousel-inner
                            .item.active
                                .row
                                    .col-sm-12.col-md-offset-1.col-md-6
                                        .wow.bounceInLeft
                                            h4 Data Vault Generator
                                            #DVA.p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            button.btn.btn-primary(type='button' id='cmDVA') Lees verder
                                    .col-sm-12.col-md-5
                                        .screenshot.wow.bounceInRight
                                            img.img-responsive(src='images/Products/Accelerator.svg', alt='')
                            .item
                                .row
                                    .col-sm-12.col-md-offset-1.col-md-6
                                        .wow.bounceInLeft
                                            h4 Social Analytics
                                            #SocialAnalytics.p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            button.btn.btn-primary(type='button' id='cmdDWHAudit') Lees verder
                                    .col-sm-12.col-md-5
                                        .screenshot.wow.bounceInRight
                                            img.img-responsive(src='images/BI AUDIT.jpg', alt='')
                            .item
                                .row
                                    .col-sm-12.col-md-offset-1.col-md-6
                                        .wow.bounceInLeft
                                            h4 BI Agile Planboard
                                            #AgileBoard.p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            button.btn.btn-primary(type='button' id='cmdBIArchitectuur') Lees verder
                                    .col-sm-12.col-md-5
                                        .screenshot.wow.bounceInRight
                                            img.img-responsive(src='images/Big Data Platform 02.jpg', alt='')
                        // Indicators
                        ol.carousel-indicators
                            li.active(data-target='#carousel-product', data-slide-to='0')
                            li(data-target='#carousel-product', data-slide-to='1')
                            li(data-target='#carousel-product', data-slide-to='2')
    // Contact
    section#contact.home-section.bg-gray
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Contact us
                        .heading-line
                        p
                            | Wil je in contact komen met ons vul dan het onderstaande formulier in wij nemen binnen 24 uur contact met je op.
            .row
                .col-md-offset-2.col-md-8
                    #sendmessage Your message has been sent. Thank you!
                    #errormessage
                    form.form-horizontal.contactForm(action='', method='post', role='form')
                        .col-md-offset-2.col-md-8
                            .form-group
                                input#name.form-control(type='text', name='name', placeholder='Your Name', data-rule='minlen:4', data-msg='Please enter at least 4 chars')
                                .validation
                        .col-md-offset-2.col-md-8
                            .form-group
                                input#email.form-control(type='email', name='email', placeholder='Your Email', data-rule='email', data-msg='Please enter a valid email')
                                .validation
                        .col-md-offset-2.col-md-8
                            .form-group
                                input#subject.form-control(type='text', name='subject', placeholder='Subject', data-rule='minlen:4', data-msg='Please enter at least 8 chars of subject')
                                .validation
                        .col-md-offset-2.col-md-8
                            .form-group
                                textarea.form-control(name='message', rows='5', data-rule='required', data-msg='Please write something for us', placeholder='Message')
                                .validation
                        .form-group
                            .col-md-offset-2.col-md-8
                                button.btn.btn-theme.btn-lg.btn-block(type='submit') Send message
    // Bottom widget
    section#bottom-widget.home-section.bg-white
        .container
            .row
                .col-md-4
                    .contact-widget.wow.bounceInUp
                        i.fa.fa-phone.fa-4x
                        h5 Bellen
                        p
                            | 06 43029943
                .col-md-4
                    .contact-widget.wow.bounceInRight
                        i.fa.fa-envelope.fa-4x
                        h5 Email
                        p
                            | wisdomasaservice@gmail.com

            .row.mar-top30
                .col-md-12
                    h5 We're on social networks
                    ul.social-network
                        li
                            a(href='#')
                                span.fa-stack.fa-2x
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-facebook.fa-stack-1x.fa-inverse
                        li
                            a(href='#')
                                span.fa-stack.fa-2x
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-dribbble.fa-stack-1x.fa-inverse
                        li
                            a(href='#')
                                span.fa-stack.fa-2x
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
                        li
                            a(href='#')
                                span.fa-stack.fa-2x
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-pinterest.fa-stack-1x.fa-inverse
    // Footer
    footer
        .container
            .row
                .col-md-12
                    p Copyright © Wisdom as a Service. All rights reserved.
                    .credits

                        | Designed by
                        a Erik van der Hoeven
    a.back-to-top(href='#')
        i.fa.fa-chevron-up
    // js
    script(src='AllStarts/js/jquery.js')
    script(src='AllStarts/js/bootstrap.min.js')
    script(src='AllStarts/js/wow.min.js')
    script(src='AllStarts/js/mb.bgndGallery.js')
    script(src='AllStarts/js/mb.bgndGallery.effects.js')
    script(src='AllStarts/js/jquery.simple-text-rotator.min.js')
    script(src='AllStarts/js/jquery.scrollTo.min.js')
    script(src='AllStarts/js/jquery.nav.js')
    script(src='AllStarts/js/modernizr.custom.js')
    script(src='AllStarts/js/grid.js')
    script(src='AllStarts/js/stellar.js')
    // Contact Form JavaScript File
    script(src='AllStarts/contactform/contactform.js')
    script.
        console.info('---  READY ----')

        $.ajax({
            url: '/home/getContentResults',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({name: 'landingPage'}),
            success: function (response) {
                var content = response.content

                content.forEach(function (r) {
                    if (r.element == 'consultancy') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'biaudit') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'iotarchitectuur') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'iotarchitectuur') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'auditcheck') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'bigdatavendors') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'Overmij') {
                        $('#' + r.element).html(r.content)
                    }
                })

                $('#cmdConsultancy').click(function () {
                    window.location.replace('/Consultancy')
                })
            }
        })

        $.ajax({
            url: '/home/getContentResults',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({name: 'Products'}),
            success: function (response) {
                var content = response.content

                content.forEach(function (r) {
                    if (r.element == 'DVA') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'SocialAnalytics') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'DvaVliegendeStart') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'AgileBoard') {
                        $('#' + r.element).html(r.content)
                    }
                })

                $('#cmDVA').click(function () {
                    console.info('cmDVA')
                    window.location.replace('/Products/DVA')
                })
            }
        })

    // Template Custom Javascript File
    //script(src='AllStarts/js/custom.js')