extends ../layouts/default

block head
    title Wisdom as a Service
    link(href='AllStarts/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='AllStarts/css/style.css', rel='stylesheet', media='screen')


block neck
    link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800', rel='stylesheet', media='screen')


block body
    // Carousel
    // =================================================
    #carousel-myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            //link(href='AllStarts/color/default.css', rel='stylesheet', media='screen')
        .carousel-inner(role='listbox')
            .item.active
                img(src='../images/Big Data 01 WebSite.jpg')
                .carousel-caption
                    a.btn.btn-lg.btn-primary(href='/consultancy', role='button') Big Data Platform advies
            .item
                img(src='../images/BigData02WebSite.jpg')
                .carousel-caption
                    a.btn.btn-lg.btn-primary(href='/biaudit', role='button') Big Data/ Hybryde Architectuur
            .item
                img(src='../images/Big Data 03 WebSite.jpg')
                .carousel-caption
                    a.btn.btn-lg.btn-primary(href='#', role='button') IoT Apps
        a.left.carousel-control(href='#carousel-myCarousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#carousel-myCarousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
    // About
    section#about.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Over ons
                        .heading-line
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/WaaSLogo.png', alt='', width="300" height="300")
                .col-md-6.content
                    h2 Wisdom-as-a-Service: de rechte weg naar datawarehousing en BI
                    #Overmij.p(align="left")
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    // Services
    section#services.home-section
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Diensten
                        .heading-line
                        p
                            | We leveren uitstekende diensten die passen bij de verschillende BI / Analitische vraagstukken.
            .row
                .col-md-12
                    #carousel-service.service.carousel.slide
                        // slides
                        .carousel-inner
                            .item.active
                                .row
                                    .col-sm-12.col-md-offset-1.col-md-6
                                        .wow.bounceInLeft
                                            h4 BI Development
                                            #consultancy.p(align="left")
                                            button.btn.btn-primary(type='button' id='cmdConsultancy') Lees verder
                                    .col-sm-12.col-md-5
                                        .screenshot.wow.bounceInRight
                                            img.img-responsive(src='images/Consultancy.jpg', alt='')
                            .item
                                .row
                                    .col-sm-12.col-md-offset-1.col-md-6
                                        .wow.bounceInLeft
                                            h4 DWH Audit
                                            #biaudit(align="left")
                                            button.btn.btn-primary(type='button' id='cmdDWHAudit') Lees verder
                                    .col-sm-12.col-md-5
                                        .screenshot.wow.bounceInRight
                                            img.img-responsive(src='images/BI AUDIT.jpg', alt='')
                            .item
                                .row
                                    .col-sm-12.col-md-offset-1.col-md-6
                                        .wow.bounceInLeft
                                            h4 BI Archtitectuur
                                            #iotarchitectuur(align="left")
                                            button.btn.btn-primary(type='button' id='cmdBIArchitectuur') Lees verder
                                    .col-sm-12.col-md-5
                                        .screenshot.wow.bounceInRight
                                            img.img-responsive(src='images/Big Data Platform 02.jpg', alt='')
                        // Indicators
                        ol.carousel-indicators
                            li.active(data-target='#carousel-service', data-slide-to='0')
                            li(data-target='#carousel-service', data-slide-to='1')
                            li(data-target='#carousel-service', data-slide-to='2')
    // Products
    section#products.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Producten
                        .heading-line
                        p
                            | We realiseren hoogwaardige BI producten door onze ervaring en specailisme.
            .row
                .col-md-12
                    #carousel-product.service.carousel.slide
                        // slides
                        .carousel-inner
                            .item.active
                                .row
                                    .col-sm-12.col-md-offset-1.col-md-6
                                        .wow.bounceInLeft
                                            h4 Data Vault Generator
                                            #DVA.p(align="left")
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            button.btn.btn-primary(type='button' id='cmDVA') Lees verder
                                    .col-sm-12.col-md-5
                                        .screenshot.wow.bounceInRight
                                            img.img-responsive(src='images/Products/Accelerator Algemeenpook.svg', alt='')
                            .item
                                .row
                                    .col-sm-12.col-md-offset-1.col-md-6
                                        .wow.bounceInLeft
                                            h4 Social Analytics
                                            #SocialAnalytics.p(align="left")
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            button.btn.btn-primary(type='button' id='cmdDWHAudit') Lees verder
                                    .col-sm-12.col-md-5
                                        .screenshot.wow.bounceInRight
                                            img.img-responsive(src='images/BI AUDIT.jpg', alt='')
                            .item
                                .row
                                    .col-sm-12.col-md-offset-1.col-md-6
                                        .wow.bounceInLeft
                                            h4 BI Agile Planboard
                                            #AgileBoard.p(align="left")
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            button.btn.btn-primary(type='button' id='cmdBIArchitectuur') Lees verder
                                    .col-sm-12.col-md-5
                                        .screenshot.wow.bounceInRight
                                            img.img-responsive(src='images/Big Data Platform 02.jpg', alt='')
                        // Indicators
                        ol.carousel-indicators
                            li.active(data-target='#carousel-product', data-slide-to='0')
                            li(data-target='#carousel-product', data-slide-to='1')
                            li(data-target='#carousel-product', data-slide-to='2')
    // Bottom widget

    // js
    script(src='AllStarts/js/jquery.js')
    script(src='AllStarts/js/bootstrap.min.js')
    script(src='AllStarts/js/wow.min.js')
    script(src='AllStarts/js/mb.bgndGallery.js')
    script(src='AllStarts/js/mb.bgndGallery.effects.js')
    script(src='AllStarts/js/jquery.simple-text-rotator.min.js')
    script(src='AllStarts/js/jquery.scrollTo.min.js')
    script(src='AllStarts/js/jquery.nav.js')
    script(src='AllStarts/js/modernizr.custom.js')
    script(src='AllStarts/js/grid.js')
    script(src='AllStarts/js/stellar.js')
    // Contact Form JavaScript File
    script(src='AllStarts/contactform/contactform.js')
    script.
        console.info('---  READY ----')

        $.ajax({
            url: '/home/getContentResults',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({name: 'landingPage'}),
            success: function (response) {
                var content = response.content

                content.forEach(function (r) {
                    if (r.element == 'consultancy') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'biaudit') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'iotarchitectuur') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'iotarchitectuur') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'auditcheck') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'bigdatavendors') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'Overmij') {
                        $('#' + r.element).html(r.content)
                    }
                })

                $('#cmdConsultancy').click(function () {
                    window.location.replace('/Consultancy')
                })
            }
        })

        $.ajax({
            url: '/home/getContentResults',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({name: 'Products'}),
            success: function (response) {
                var content = response.content

                content.forEach(function (r) {
                    if (r.element == 'DVA') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'SocialAnalytics') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'DvaVliegendeStart') {
                        $('#' + r.element).html(r.content)
                    }
                    if (r.element == 'AgileBoard') {
                        $('#' + r.element).html(r.content)
                    }
                })

                $('#cmDVA').click(function () {
                    console.info('cmDVA')
                    window.location.replace('/Products/DVA')
                })
            }
        })

    // Template Custom Javascript File
    //script(src='AllStarts/js/custom.js')