extends ../../layouts/default

block head
    title Business Rules
    script(src="../../views/BusinessRules/dataHandler.js")
    script(src="../../views/BusinessRules/buildSentimentTrainingSet.js")
block body
    .row
        .col-lg-10
            h1 BusinessRules
    .row
        .col-sm-6
            #tblBusinessrules
        .col-sm-4
            #trainingSetOptions
    .row(id= 'buttens')
        .col-sm-4
            a(href='/BusinessRules/add', class='btn btn-default') Toevoegen labels
        .col-md-5
            #btnSentiment
                button.btn.btn-primary(type='button' id='sentiment') toevoegen Sentiment woorden

            script.
                $('#sentiment').click(function () {
                    $.ajax({
                        url: '/BusinessRules/saveBijvoegelijkeNaamwoorden',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({message: 'toevoegen Bijvoegelijknaamwoorden'}),
                        success: function (response) {
                            var scoreSet = []
                            console.info(response)
                            //createGeneric(response, 'tblBusinessrules', 'tblSentiment')
                            scoreSet = createSentimentTable(response, 'tblBusinessrules', 'tblSentiment', 'btnSentiment', 1)
                        }
                    });
                })

                $(document).ready(function () {
                    $.ajax({
                        url: '/BusinessRules/showBusinessRules',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({message: 'toevoegen Bijvoegelijknaamwoorden'}),
                        success: function (response) {
                            //var scoreSet = []
                            console.info(response)
                            createGeneric(response, 'tblBusinessrules', 'tblSentiment')
                            //scoreSet = createSentimentTable(response, 'tblBusinessrules', 'tblSentiment', 'btnSentiment', 1)
                        }
                    });


                })
