extends ../../layouts/default

block head
    title View Events
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="../../views/BusinessRules/dataHandler.js")
    script(src="../../views/BusinessRules/buildSentimentTrainingSet.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')

block body
    .row
        .col-lg-10
            h1 BusinessRules
    .row
        .col-sm-4
            #tblBusinessrules
    .row(id= 'buttens')
        .col-sm-4
            a(href='/BusinessRules/add', class='btn btn-default') Toevoegen labels
        .col-md-5
            #btnSentiment
                button.btn.btn-primary(type='button' id='sentiment') toevoegen Sentiment woorden

            script.
                $('#sentiment').click(function () {
                    $.ajax({
                        url: '/BusinessRules/sentiment',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({message: 'Maak sentiment'}),
                        success: function (response) {
                            var scoreSet = []
                            console.info(response)
                            //createGeneric(response, 'tblBusinessrules', 'tblSentiment')
                            scoreSet = createSentimentTable(response, 'tblBusinessrules', 'tblSentiment', 'btnSentiment', 1)
                        }
                    });
                })

