<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<tr>
    <td id="typeBusinessRule5909864e83655728f3581ad5">Zoekwaarde</td>
    <td id="lookupValue5909864e83655728f3581ad5">Euro Pool System</td>
    <td id="cattegoryValue5909864e83655728f3581ad5"></td>
    <td></td>
    <td id="update5909864e83655728f3581ad5"><span class="glyphicon glyphicon-pencil" onclick="updateField('','5909864e83655728f3581ad5','businessrules')"></span></td><td><span class="glyphicon glyphicon-trash" onclick="deleteRow('5909864e83655728f3581ad5')"></td></tr>
pagnationsteps: 51



</body>
</html>