<!doctype html>
<!--[if lt IE 9]> <html class="no-js ie8"> <![endif]-->
<html class="no-js" lang="nl">
<head><title>
    Zoeken
</title><meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1024">
    <meta name="format-detection" content="telephone=no" /><link rel="shortcut icon" href="/favicon.ico" />

    <link rel="canonical" href="https://www.kvk.nl/zoeken/" />



    <!--[if gt IE 9]><!-->
    <link href="/includes/css/styles.legacy.min.css?10616432735" rel="stylesheet" media="screen" />
    <![endif]-->

    <!--[if IE 9]>
    <link href="/includes/css/styles-ie9-1.legacy.min.css?10616432735" rel="stylesheet" media="screen" />
    <link href="/includes/css/styles-ie9-2.legacy.min.css?10616432735" rel="stylesheet" media="screen" />
    <![endif]-->

    <!--[if lte IE 8]>
    <link href="/includes/css/styles-ie8-1.legacy.min.css?10616432735" rel="stylesheet" media="screen" />
    <link href="/includes/css/styles-ie8-2.legacy.min.css?10616432735" rel="stylesheet" media="screen" />

    <![endif]-->



    <link href="/includes/css/print.legacy.min.css?10616432735" rel="stylesheet" media="print" />


    <script src="/includes/js/config.js?10616432735"></script>
    <script src="/includes/js/resources.js?10616432735"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/includes/js/scripts-header.min.js?10616432735"></script>
    <![endif]-->

    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <meta content="tcm:109-370616" name="tcm" />



    <script>
        dataLayer = [{
            'page': {
                'type': 'search',
                'environment': 'prod',
                'iframe': 'nee'
            },
            'user': {
                'toestemming': '0',
                'id': '',
                'type':'extern'
            }
        }];
    </script>
</head>


<body>
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-P2JD7J" height="0" width="0" style="display:none;visibility:hidden"> </iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'}); var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})
(window,document,'script','dataLayer','GTM-P2JD7J'); </script>
<!-- End Google Tag Manager -->




<div class="site">


    <!--googleoff: index-->


    <header class="site-header l-container--fluid is-print-hidden">


        <div class="l-container is-print-hidden">

            <section class="l-row is-print-hidden">


                <div class="l-column-large-6">
                    <h1 class="logo site-header__logo">
                        <a href="/" title="Home">
                            <img src="/includes/img/kvk-logo.png" alt="logo">
                            <span class="is-hidden is-hidden--mobile">Kamer van Koophandel </span>
                        </a>
                    </h1>
                </div>


                <nav class="nav nav--secondary l-column-large-6 js-menu">

                    <ul class="list-reset">
                        <li class="nav__account">

                            <a class="nav__button nav__button--account nav__button--secondary  js-submenu-toggle js-menu-account" href="#" data-label-default="Inloggen" data-label-mijnkvk="">Inloggen</a>


                            <div class="nav__sub nav__sub--large is-hidden js-submenu">

                                <header class="nav__sub-header is-hidden-medium-up">
                                    <h1>Kamer van Koophandel</h1>
                                    <button class="nav-button-close js-submenu-toggle">
                                        <svg class="icons icons--icon-close" role="img" width="30" height="30" viewBox="0 0 30 30">
                                            <use xlink:href="#icon-close"></use>
                                        </svg>
                                    </button>
                                </header>

                                <ul class="account-manager nav__account-manager nav__primary-list js-account-manager">

                                    <li class="account-manager__handelsregister js-account-hr">
                                        <a class="js-login-hr" href="https://diensten.kvk.nl/inloggen.html">Handelsregister</a>

                                        <ul class="account-manager__sub is-hidden js-nav-hr">
                                            <li class="account-manager__user"></li>
                                            <li>
                                                <a class="account-manager__overview" href="https://diensten.kvk.nl/inloggen.html" title="Overzicht">Overzicht</a>
                                            </li>
                                            <li>
                                                <a class="account-manager__bestedingen" href="/handelsregister/TST-BIN/RB/RBBSW01@" title="Bestedingen">Bestedingen</a>
                                            </li>
                                            <li>
                                                <a class="account-manager__password" href="/mijnstart/wachtwoord-wijzigen/" title="Wachtwoord wijzigen">Wachtwoord wijzigen</a>
                                            </li>
                                            <li>
                                                <a class="jaarrekening-deponeren" href="https://diensten.kvk.nl/zelfdeponerenjaarrekening" data-analytics-link-number="1">Jaarrekening deponeren</a>
                                            </li>
                                            <li>
                                                <a class="account-manager__logout js-logout-hr" href="https://diensten.kvk.nl/pkmslogout" title="Uitloggen">Uitloggen</a>
                                            </li>
                                        </ul>
                                        <!-- end .account__handelsregister -->
                                    </li>

                                    <li class="account-manager__mijn-kvk js-account-mijnkvk">
                                        <a class="js-login-mijnkvk" href="/mijnkvk/">Mijn Start</a>
                                    </li>


                                    <li class="account-manager__zelf-deponeren-jaarrekening">
                                        <a class="js-login-hr" href="https://diensten.kvk.nl/zelfdeponerenjaarrekening">Jaarrekening deponeren</a>
                                    </li>

                                </ul>

                            </div>
                            <!-- end .nav__sub -->

                        </li>
                        <!-- end .nav__account -->

                        <li class="nav__contact">
                            <a href="/contact/" class="nav__button nav__button--secondary nav__button--contact">Contact</a>
                        </li>
                        <!-- end .nav__contact -->

                    </ul>

                </nav>
                <!-- end .nav- -secondary -->

                <nav class="nav nav--primary l-column-large-10 js-menu">
                    <button class="nav__button nav__button--burger is-hidden-medium-up js-submenu-toggle">Menu</button>

                    <div class="nav__sub nav__content is-hidden is-hidden--mobile js-submenu">
                        <header class="nav__sub-header is-hidden-medium-up">
                            <h1>Kamer van Koophandel</h1>
                            <button class="nav-button-close js-submenu-toggle">
                                <svg class="icons icons--icon-close" role="img" width="30" height="30" viewBox="0 0 30 30">
                                    <use xlink:href="#icon-close"></use>
                                </svg>
                            </button>
                        </header>

                        <ul class="nav__primary-list nav__primary-content list-reset">
                            <li>
                                <a  href="/inschrijven-en-wijzigen/">Inschrijven en wijzigen</a>
                            </li>
                            <li>
                                <a  href="/producten-bestellen/">Producten bestellen</a>
                            </li>
                            <li>
                                <a  href="/advies-en-informatie/">Advies en informatie</a>
                            </li>
                        </ul>

                        <hr class="dots-light-blue nav__dots has-margin-bottom is-hidden-medium-up">

                        <ul class="list nav__secondary-list is-hidden-medium-up list-reset">
                            <li><a href="/over-de-kvk/">Over de KvK</a></li>
                            <li><a href="/english/">English</a></li>
                            <li><a href="/over-de-kvk/pers/">Pers</a></li>
                            <li><a href="/contact/">Contact</a></li>
                            <li><a href="/privacy/">Privacy</a></li>
                            <li><a href="/privacy/cookies/">Cookies</a></li>
                            <li><a href="/disclaimer/">Disclaimer</a></li>
                        </ul>

                    </div>
                    <!-- end .nav__content -->

                </nav>
                <!-- end .nav--primary -->


                <nav class="nav nav--primary nav--search site-header__search l-column-large-2 js-menu">
                    <a href="/zoeken/" class="nav__button nav__button--search is-active" title="Zoeken">Zoeken</a>
                </nav>

            </section>
            <!-- end .l-row -->

        </div>
        <!-- end .l-container -->

    </header>

    <!--googleon: index-->

    <!-- Onderhoudsmeldingen -->




    <!-- Content -->
    <main class="site-content js-notify-header">

        <!-- page -->
        <div class="page cf">
            <div class="page-center">
                <div class="site-search">
                    <input id="powerSearchInput" name="q" class="input" type="text" placeholder="Zoek op bedrijf of trefwoord" autocomplete="off" value="" />
                    <button class="submit-button">Zoeken</button>

                    <a href="/zoeken/handelsregister/" class="link link--action" title="Uitgebreid zoeken in het Handelsregister">Uitgebreid zoeken in het Handelsregister
                    </a>
                    <div class="filters">
                        <p class="help-text">Selecteer een kenmerk om te filteren:</p>
                        <button data-search-collection="handelsregister" class="type1">Handelsregister</button>
                        <button data-search-collection="corporate" class="type5">Informatie en advies</button>
                        <button data-search-collection="evenementen" class="type2">Bijeenkomsten en groeikansen</button>
                        <button data-search-collection="bestanden" class="type3">Documenten en formulieren</button>
                    </div>

                    <div id="searchResults">
                    </div>

                    <div class="no-results">
                        <div class="headline">Helaas, er zijn geen resultaten voor uw zoekopdracht <b></b>.</div>
                        <div class="suggestions">
                            <h3>Suggesties:</h3>
                            <ul>
                                <li>Check de spelling van de woorden waar u op zoekt.</li>
                                <li>Probeer andere zoektermen. U kunt op meer dan één woord zoeken.</li>
                                <li>Gebruik bij het zoeken naar bedrijven delen van de handelsnaam, bijvoorbeeld 'bakkerij' of 'Jansen' bij 'Bakkerij Jansen'. </li>
                                <li>Controleer of het KvK-nummer uit 8 cijfers bestaat.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>



    <footer class="site-footer">
        <!--googleoff: index-->
        <div class="site-footer__bar l-container--fluid">



            <!--Start Kampyle Exit-Popup Code-->
            <script>
                var k_push_vars = {
                    "display_after_on_page": 30,
                    "display_after": 0,
                    "view_percentage": 0,
                    "popup_font_color": "#000000",
                    "popup_background": "#ffffff",
                    "popup_separator": "#E5EFF9",
                    "header": "Je reactie is belangrijk voor ons!",
                    "question": "Zou je een korte reactie (1 minuut) willen geven?",
                    "footer": "Bedankt voor het helpen om onze website te verbeteren",
                    "remind": "",
                    "remind_font_color": "#3882C3",
                    "yes": "Ja",
                    "no": "Nee",
                    "text_direction": "ltr",
                    "images_dir": "/includes/img/kampyle/",
                    "yes_background": "#76AC78",
                    "no_background": "#8D9B86",
                    "site_code": 4854615
                }
            </script>

            <!--Start Kampyle Feedback Form Button-->

            <div class="is-print-hidden">
                <a href='https://www.kampyle.com/feedback_form/ff-feedback-form.php?site_code=4854615&amp;lang=nl&amp;form_id=65822' target='kampyleWindow' id='kampylink' class='k_static k_float k_right js-share-buttons' onclick="javascript:k_button.open_ff('site_code=4854615&amp;lang=nl&amp;form_id=65822');return false;">

                </a>
            </div>
            <div id='k_slogan' class='k_static is-print-hidden'>
                <a href='https://www.kampyle.com/customer-satisfaction-care?campaign=Customer Feedback&medium=SL&source=52688' target='_blank'>Geef uw mening</a>
            </div>
            <input type="hidden" name="k_host_server" id="k_host_server" value="www.kampyle.com" />
            <!--End Kampyle Feedback Form Button-->


            <div class="l-container">

                <div class="l-row">
                    <div class="l-column-small-12">

                        <ul class="site-footer__social">
                            <li>Volg ons op</li>
                            <li>
                                <a href="https://www.facebook.com/kamervankoophandel" title="Facebook">
                                    <svg class="site-footer__icon icons icons--fill-grey-60 icons--icon-facebook-circle" role="img" width="40" height="40" viewBox="0 0 40 40">
                                        <use xlink:href="#icon-facebook-circle"></use>
                                    </svg>
                                </a>
                            </li>

                            <li>
                                <a href="https://twitter.com/KvK_NL" title="Twitter">
                                    <svg class="site-footer__icon icons icons--fill-grey-60 icons--icon-twitter-circle" role="img" width="40" height="40" viewBox="0 0 40 40">
                                        <use xlink:href="#icon-twitter-circle"></use>
                                    </svg>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/company/kamer-van-koophandel" title="LinkedIn">
                                    <svg class="site-footer__icon icons icons--fill-grey-60 icons--icon-linkedin-circle" role="img" width="40" height="40" viewBox="0 0 40 40">
                                        <use xlink:href="#icon-linkedin-circle"></use>
                                    </svg>
                                </a>
                            </li>

                        </ul>

                        <ul class="site-footer__partners">
                            <li>KvK is partner van</li>
                            <li>
                                <a href="http://www.ondernemersplein.nl">
                                    <svg class="site-footer__icon icons icons--img-logo-dop" role="img" width="120" height="40" viewBox="0 0 767 256">
                                        <use xlink:href="#img-logo-dop"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- end .l-row -->

            </div>
            <!-- end .l-container -->

        </div>
        <!-- end .l-container--fluid -->


        <div class="site-footer__links l-container--fluid">
            <div class="l-container">
                <div class="l-row">
                    <div class="l-column-medium-7">
                        <ul>
                            <li><a href="/over-de-kvk/" title="Over de KvK">Over de KvK</a></li>
                            <li><a href="/english/" title="English">English</a></li>
                            <li><a href="/over-de-kvk/pers/" title="Pers">Pers</a></li>
                            <li><a href="/contact/" title="Contact">Contact</a></li>
                            <li><a href="/privacy/" title="Privacy">Privacy</a></li>
                            <li><a href="/privacy/cookies/" title="Cookies">Cookies</a></li>
                            <li><a href="/disclaimer/" title="Disclaimer">Disclaimer</a></li>
                        </ul>
                    </div>
                    <div class="l-column-medium-5">

                        <a class="site-footer__releasenotes" href="/over-de-kvk/nieuw-op-kvknl/">
                            <svg role="img" class="site-footer__icon site-footer__icon--releasenotes icons icons--fill-mid-yellow icons--icon-arrow-right" width="9" height="15" viewBox="0 0 9 15">
                                <use xlink:href="#icon-arrow-right"></use>
                            </svg>
                            We verbeteren kvk.nl continu. Nieuwsgierig?</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- end .l-container -->
        <!--googleon: index-->
    </footer>

</div>
<!-- END .site -->




<script src="/includes/js/vendor.min.js?10616432735"></script>
<!--[if lte IE 8]>
<script src="/includes/js/vendor-legacy.min.js?10616432735"></script>
<![endif]-->


<script src="/includes/js/scripts.min.js?10616432735"></script>



<!-- Scripts bundle -->
<script src="/includes/js/bundles/scripts.bundle.js?10616432735"></script>

<!-- Load the SVG sprite -->
<script src="/includes/js/dist/svg-sprite.js?10616432735" type="text/javascript"></script>



</body>
</html>
