extends ../../layouts/default

block head
    title UploadFile)
    script.

        var files ,readFile = 0, translate = 0
        files = !{JSON.stringify(files)};



block body
    // functies voor het afhandelen van data
    script(src="../../views/upload/dataHandler.js")
    .container
        .row
        .row
            .col-md-4
            .col-md-4
                br
                br
                form#uploadForm(method='post', enctype='multipart/form-data', action='/upload')
                    input#files(type='file', name='upload', multiple='multiple')
                    p(style='text-align: right; margin-top: 20px;')
                        input.btn.btn-lg.btn-primary(type='submit', value='Upload Files' name='submit')
        .row
            #filesInFolder
           script.

                if(files){
                    $('#filesInFolder').append('<table class="table table-hover" id=lstFiles ><thead><tr><th> Select </th><th> FileName </th><th> Upload Date </th><th> Read to DataStore </th>')
                    $('#lstFiles').append('<tbody>')

                    files.forEach(function(file){
                        $('#lstFiles > tbody').append('<tr><td><input type="checkbox" name="chb_FileName" value="'+ file.filename+'"></td><td>'+ file.filename +'</td><td>' + file.creationDate + '</td><td>'+  file.AddToDataStore +'</td></tr>')


                    })

                }
                else {
                console.info('No data found')
                }

        .row
            #readFilesSectie
                button.btn.btn-primary(type='button' id='readFiles') ReadFiles
                script.
                    $('#readFiles').click(function(){
                        var selectedFiles = []
                        console.info('START READING')
                        readFile = 1
                        $('input[name="chb_FileName"]:checked').each(function () {
                            selectedFiles.push(this.value);
                        });
                        console.info(selectedFiles)

                        $.ajax({
                            url: '/upload/readFile',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({selectedFiles: selectedFiles} ),
                            success: function (response) {
                            readFile = searchData(readFile, response)
                            }
                        });


                    })
        .row
            #displayReadedDataSectie


