extends ../../layouts/default

block head
  title Sign Up
  script(src="../../views/signup/formhadlerSignup.js")

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 Sign Up
      div#signup
        form#signupFrom.form-horizontal(method='post', action='/signup/upload', enctype='multipart/form-data', data-toggle="validator" role="form")
          #status
            .container
              .row
                .col-md-6
                  .form-group
                    label.cols-sm-2.control-label(for='name') Your name
                    .cols-sm-10
                      .input-group
                        span.input-group-addon
                          i.fa.fa-user.fa(aria-hidden='true')
                        input#name.form-control(type='text', name='name', placeholder='Enter your Name')
                .col-xs-6
                  #avatarPreview
                    br
                    br
                    img#imgPreview(src='#', alt='your image' width=150 height=150)
              .row
                .col-md-6
                  .form-group
                    label.cols-sm-2.control-label(for='email' class="control-label" data-error="Bruh, that email address is invalid" required) Your Email
                    .cols-sm-10
                      .input-group
                        span.input-group-addon
                          i.fa.fa-envelope.fa(aria-hidden='true')
                        input#email.form-control(type='text', name='email', placeholder='Enter your Email' )
              .row
                .col-md-6
                  .form-group
                    label.cols-sm-2.control-label(for='username') Username
                    .cols-sm-10
                      .input-group
                        span.input-group-addon
                          i.fa.fa-users.fa(aria-hidden='true')
                        input#username.form-control(type='text', name='username', placeholder='Enter your Username')
              .row
                .col-md-6
                  .form-group
                    label.cols-sm-2.control-label(for='password') Password
                    .cols-sm-10
                      .input-group
                        span.input-group-addon
                          i.fa.fa-lock.fa-lg(aria-hidden='true')
                        input#password.form-control(type='text', name='password', placeholder='Enter your Password')
              .row
                .col-md-6
                  .form-group
                    label.cols-sm-2.control-label(for='confirm') Confirm Password
                    .cols-sm-10
                      .input-group
                        span.input-group-addon
                          i.fa.fa-lock.fa-lg(aria-hidden='true')
                        input#confirm.form-control(type='text', name='confirm', placeholder='Confirm your Password', data-match="#password", data-match-error="Whoops, these don't match", required)
              .row
                .col-md-6
                  .form-group
                    input#avatar(type='file', name='uploadFile', multiple='multiple')
                    script.
                        $("#avatar").change(function () {
                            readURL(this);
                        });
                  .form-group
                    button#submit.btn.btn-primary.btn-lg.btn-block.login-button(type='submit') Register
                  .login-register
                    a(href='/') Login










