extends ../../layouts/default
block head
    title Login
block body
    if (message.length > 0)
        #alert
            .alert.alert-danger
                strong
                |  #{message}
    .row
        .col-sm-4
            #divMessages
            img#profile-img.profile-img-card(src='//ssl.gstatic.com/accounts/ui/avatar_2x.png')
            p#profile-name.profile-name-card
            span#reauth-email.reauth-email
            form(method='post', action='/login/post')
                input#username.form-control(type='text', placeholder='username' name='username' )
                input#password.form-control(type='password', placeholder='Password' name='password')
                #remember.checkbox
                label
                input(type='checkbox', value='remember-me')
                |  Remember me
                button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') Sign in
                a.forgot-password(href='#')
                | Forgot the password?






