extends ../../layouts/default

block head
    title Consultancy

block body
    //Development
    section#Development.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Development
                        .heading-line
                        p
                            | Wisdom is standaardiseren en het continu optimaliseren van BI development processen
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/Consultancy.png', alt='', width="300" height="300")
                .col-md-6.content
                    #titleDevelopment.h2 Wij bieden een standaard agile ontwikkel methodiek en templates waardoor de voorspelbaarheid toeneemt en het development proces zal toenemen in kwaliteit en zal afnemen
                    #subtitleDevelopment.h3
                        | Door onze ervaring met verschillende architectuur types en
                    #contentDevelopment.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum


    section#Innovatieveoplossingen.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Innovatieve oplossingen
                        .heading-line
                        p
                            | Wisdom is met creativiteit een passende BI oplossing zoeken
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/Innovatie.jpg', alt='', width="300" height="300")
                .col-md-6.content
                    #titleInnovatieveoplossingen.h2 Wij bieden een standaard agile ontwikkel methodiek en templates waardoor de voorspelbaarheid toeneemt en het development proces zal toenemen in kwaliteit en zal afnemen
                    #subtitleInnovatieveoplossingen.h3
                        | Door onze ervaring met verschillende architectuur types en
                    #contentInnovatieveoplossingen.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum


    section#smartoplossingen.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Slimme oplossingen
                        .heading-line
                        p
                            | We realiseren al meer dan 5 jaar BI products.
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/DataVisualisationPlatform .jpg', alt='', width="300" height="300")
                .col-md-6.content
                    #titleSmartoplossingen.h2 Wij bieden een standaard agile ontwikkel methodiek en templates waardoor de voorspelbaarheid toeneemt en het development proces zal toenemen in kwaliteit en zal afnemen
                    #subtitleSmartoplossingen.h3
                        | Door onze ervaring met verschillende architectuur types en
                    #contentSmartoplossingen.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

    section#recentTechnologies.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Recente technologien
                        .heading-line
                        p
                            | We realiseren al meer dan 5 jaar BI products.
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/IOT-2.jpg', alt='', width="300" height="300")
                .col-md-6.content
                    #titleRecentTechnologies.h2 Wij bieden een standaard agile ontwikkel methodiek en templates waardoor de voorspelbaarheid toeneemt en het development proces zal toenemen in kwaliteit en zal afnemen
                    #subtitleRecentTechnologies.h3
                        | Door onze ervaring met verschillende architectuur types en
                    #contentRecentTechnologies.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum


    section#Betrokken.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Betrokkenheid
                        .heading-line
                        p
                            | We realiseren al meer dan 5 jaar BI products.
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/Betrokken.jpg', alt='', width="300" height="300")
                .col-md-6.content
                    #titleBetrokken.h2 Wij bieden een standaard agile ontwikkel methodiek en templates waardoor de voorspelbaarheid toeneemt en het development proces zal toenemen in kwaliteit en zal afnemen
                    #subtitleBetrokken.h3
                        | Door onze ervaring met verschillende architectuur types en
                    #contentBetrokken.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

    section#OplossingenOpMaat.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Oplossingen op maat
                        .heading-line
                        p
                            | We realiseren al meer dan 5 jaar BI products.
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/Consultancy.jpg', alt='', width="300" height="300")
                .col-md-6.content
                    #titleOplossingenOpMaat.h2 Wij bieden een standaard agile ontwikkel methodiek en templates waardoor de voorspelbaarheid toeneemt en het development proces zal toenemen in kwaliteit en zal afnemen
                    #subtitleOplossingenOpMaat.h3
                        | Door onze ervaring met verschillende architectuur types en
                    #contentOplossingenOpMaat.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    script.
        $.ajax({
            url: '/home/getContentResults',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({name: 'consultancy'}),
            success: function (response) {
                var content = response.content

                content.forEach(function (r) {
                    $('#' + r.element).html(r.content)
                })
            }})

