extends ../../layouts/default

block head
    title Consultancy

block body
    //Development
    section#Development.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Development
                        .heading-line
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/Consultancy.png', alt='', width="485" height="300")
                .col-md-6.content
                    #contentDevelopment.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum


    section#Innovatieveoplossingen.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Innovatieve oplossingen
                        .heading-line
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/Innovatie.jpg', alt='', width="485" height="300")
                .col-md-6.content
                    #contentInnovatieveoplossingen.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

    section#smartoplossingen.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Slimme oplossingen
                        .heading-line
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/DataVisualisationPlatform .jpg', alt='', width="485" height="300")
                .col-md-6.content
                    #contentSmartoplossingen.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

    section#recentTechnologies.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Recente technologien
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/IOT-2.jpg', alt='', width="485" height="300")
                .col-md-6.content
                    #contentRecentTechnologies.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum


    section#Betrokken.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Betrokkenheid
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/Betrokken.jpg', alt='', width="485" height="300")
                .col-md-6.content
                    #contentBetrokken.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

    section#OplossingenOpMaat.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Oplossingen op maat
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/Consultancy.jpg', alt='', width="485" height="300")
                .col-md-6.content
                    #contentOplossingenOpMaat.p
                        | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    script.
        $.ajax({
            url: '/home/getContentResults',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({name: 'consultancy'}),
            success: function (response) {
                var content = response.content

                content.forEach(function (r) {
                    $('#' + r.element).html(r.content)
                })
            }})

