extends ../../layouts/default

block head
    title Data Vault Accelerator

block body
    //Development
    section#Voorspelbaarheid.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Voorspelbaarheid
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='../images/Products/Accelerator.svg' width="350" height="280" align="right")
                .col-md-6.content
                    #DvaInleiding.p(align="left")

    section#Vliegendestart.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Vliegende start
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='../images/Products/Accelerator Vliegende start Without Background.svg' width="350" height="200" align="right" style="background-color:#0B2242")
                .col-md-6.content
                    #DvaVliegendeStart(align="left")


    section#Standaardisatie.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Standaardisatie
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='../images/Products/Standaardisatie.svg' width="350" height="200" align="right")
                .col-md-6.content
                    #DvaStandaardisatie(align="left")


    section#GPDR.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 GDPR & AVG Ready
                        .heading-line
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='../images/Products/GPDR.svg' width="350" height="200" align="right")
                .col-md-6.content
                    #DvaGPDR(align="left")

    section#TemplatebasedDevelopment.home-section.bg-green
        .container
            .row
                .col-md-offset-2.col-md-8
                    .section-heading
                        h2 Template based development
                        .heading-line
            .row.wow.fadeInUp
                .col-md-6.about-img
                    img(src='images/Consultancy.jpg', alt='', width="300" height="300")
                .col-md-6.content
                    #DvaTemplateDevelopment(align="left")
    script.
        $.ajax({
            url: '/home/getContentResults',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({name: 'Data Vault Accelerator'}),
            success: function (response) {
                var content = response.content

                content.forEach(function (r) {
                    $('#' + r.element).html(r.content)
                })
            }})

